/* *google font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* *browser reset */
* {
  margin: 0;
  box-sizing: border-box;
  font-family: var(--primary-font);
}

/* *utilities */
:root {
  --primary-color: green;
  --secondary-color: #ffffff;
  --primary-font: "Montserrat";
}

/* *header */
.top-nav {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 0.4em;
  font-size: 12px;
  text-align: center;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.nav-items {
  padding: 0 1rem;
  color: green;
}

/* *HERO */

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-wrapper {
  width: 100%;
  height: 400px;
  background: linear-gradient(0deg, rgba(0, 255, 0, 0.2), rgba(0, 255, 0, 0.2)),
    url("./../portraits/Nigerian-Presidents.jpg");
}

.message {
  text-align: center;
  margin: 1rem;
}

.sorting-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.sorting-btn button {
  margin: 0 0.7rem;
  text-transform: capitalize;
  background-color: rgba(39, 63, 39, 0.7);
  color: var(--secondary-color);
  font-weight: 500;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  padding: 0.3rem 0.5rem;
  cursor: pointer;
  white-space: nowrap;
}

footer {
  text-align: center;
  margin: 2rem;
  font-weight: 500;
}

@media (max-width: 900px) {
  nav {
    flex-direction: column;
  }

  .top-nav {
    font-size: 10px;
  }

  .nav-items {
    margin: 0.7rem 0;
  }

  .banner-wrapper {
    width: 100%;
    height: 200px;
    background: linear-gradient(
        0deg,
        rgba(0, 255, 0, 0.2),
        rgba(0, 255, 0, 0.2)
      ),
      url("./../portraits/Nigerian-Presidents.jpg");
    background-size: contain;
  }
}

@media (max-width: 400px) {
  .sorting-btn button {
    width: 80%;
    padding: 0.5rem;
  }
}
